
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding-bottom: 70px;
}

#root {
  flex: 1;
}

.navbar {
  background: #CADDFE;
}

.home-img {
  width: 400px;
  height: 300px;
}

.book-carousel {
  background-color: #FE8A868C;
}

.btn {
  text-transform: none;
}

.footer {
  position: relative;
  bottom: 0;
  background-color: #CADDFE;
}

.container-height {
  height: 82vh;
}
